#duvidas {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
}

.tituloDuvidas {
  font-size: 300%;
  position: absolute;
  left: 33%;
  top: 1%;
}

.duvidas{
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 38.75rem;
}

.duvidas p{
  font-family: Open Sans;
  font-style: normal;
  font-size: clamp(1rem, 2.5rem, 3rem);
  left: 5%;
  top: 20%;
}

.duvidas span{
  font-family: Open Sans;
  font-style: normal;
  font-size: clamp(1.5rem, 2rem, 2.5rem);
  left: 5%;
  top: 20%;
}

.duvidas a{
  color: black;
  text-decoration: underline;
}

.pergunta{
  height: 40%;
  width: 100%;
  background-color: #d1d3e0;
  padding: 20px;
}

.material {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 0%;
  left: 5%;
}

.requisitos {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 5%;
  left: 5%;
}

.valor {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 8%;
  left: 5%;
}

.matricular {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 11%;
  left: 5%;
}

.presencial {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 14%;
  left: 5%;
}

.horario {
  background-color: #d1d3e0;
  width: 90%;
  height: 7%;
  top: 17%;
  left: 5%;
}


@media screen and (max-width: 915px){
  .duvidas p{
    font-size: 175%;
  }

  .duvidas span{
    font-size: 130%;
  }

  #duvidas {
    padding: 0 30px;
  }
}


@media (max-width: 1024px) {
  .tituloDuvidas {
    display: none;
  }
}

@media (max-width: 550px) {
  .duvidas {
    height: calc(105vh - 95px);
  }

  .duvidas {
    margin-top: 10%;
  }
}

@media (max-width: 720px) {
  #duvidas {
    padding: 0 30px;
  }
}

@media (max-width: 475px) {
  .duvidas {
    height: calc(125vh - 95px);
  }
}

@media (max-width: 370px) {
  .duvidas {
    height: calc(145vh - 95px);
  }
}

@media (max-width: 310px) {
  .duvidas {
    height: calc(155vh - 95px);
  }
}