.footer {
  background-image: url(../imgs/background-home.png);
  background-size: cover;
  background-color: #070c33dc;
  background-blend-mode: multiply;
  height: calc(100vh - 95px);
  display: flex;
  align-items: flex-end;
}

.container-footer {
  background-color: #0f095b;
  height: 50%;
  margin-top: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.icones-redes img {
  width: 4rem;
  height: 4rem;
}

.icones-redes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.contatos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 150px;
}

.footer-infos p:first-of-type {
  width: 15rem;
}

.footer-infos > img {
  width: 15rem;
  height: 4.5rem;
}

.footer-infos p {
  color: aliceblue;
  font-size: clamp(20px, 1.5rem, 3rem);
}

@media (max-width: 835px) {
  .footer {
    height: 100vh;
    width: 100vw;
  }
  .icones-redes {
    flex-direction: column;
  }
  .contatos p {
    display: none;
  }
  .footer-infos > p {
    align-self: flex-end;
  }

  .contatos p:nth-child(2) {
    display: flex;
    position: absolute;
    right: 50%;
    bottom: 15%;
  }

  .footer-infos > img {
    display: none;
  }
}

@media (max-width: 500px) {
  .footer-infos > p {
    margin-left: 10%;
  }

  .contatos p:nth-child(2) {
    display: none;
  }

  .contatos div {
    margin-right: 40%;
  }
}

@media (max-width: 400px) {
  .footer-infos > p {
    margin-left: 30%;
    width: 26rem;
  }

  .contatos div {
    display: none;
  }
}
