.home {
  height: calc(100% - 95px);
  background-image: url(../imgs/background-home.png);
  background-size: cover;
  background-color: #070c33dc;
  background-blend-mode: multiply;
  background-position: 50%;

  color: white;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.titulo-home {
  margin-top: 5%;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

 .titulo-home h1 {
  font-size: 450%;
  font-weight: bold;
}

.titulo-home > button {
  width: 170px;
  height: 60px;

  background-color: transparent;

  border-color: white;
  border-style: solid;
}

.titulo-home > button a {
  text-decoration: none;

  font-size: 1.3rem;
  color: white;
}

.conteiner-rotate-home {
  background-color: #d1d3e0;

  width: 100%;
  height: 50%;
  clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);

  display: flex;
  align-items: center;
  position: absolute;

  bottom: 0px;
}

.mercado-trabalho {
  color: #08063f;
  font-size: 1.6rem;
  text-align: center;

  display: flex;
  justify-content: center;
  
  margin-top: 5%;
}

.mercado-trabalho p:first-child {
  width: 335px;
}

.mercado-trabalho p:nth-child(2) {
  max-width: 480px;
}

 .img-home {
  position: absolute;
  right: 8%;
  margin-top: 5%;
  max-width: 280px;
  max-height: 270px;
  min-height: 50px;
} 


@media (max-width: 1075px) {
  .img-home {
    width: 200px;
    
    right: 6%;
  }
}

@media (max-width: 1045px) {
  .img-home {
    width: 180px;

    right: 3%;
  }

}

@media (max-width: 1025px) {
  .img-home {
    display: none;
  } 

  .mercado-trabalho {
    width: 100vw;
  }
}

@media (max-width: 721px) {
  .titulo-home h1 {
    font-size: 280%;

    margin-top: 20%;
    margin-left: -2%;
  }

  .mercado-trabalho p:first-child {
   width: 100vw;
  }

  .mercado-trabalho :nth-child(2) {
    display: none;
  }
}

@media (max-width: 380px) {
  .titulo-home h1 {
    font-size: 200%;

    margin-top: 30%;
    margin-left: -2%;
  }

  .titulo-home > button {
    width: 140px;
    height: 50px;
  }
}