.modulos {
    height: calc(100% - 95px);
    background-color: #D1D3E0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    gap: 40px;
}

.modulos h1 {
    font-size: 119%;
    
    margin-left: 0;
    margin-top: 20%;
}

.texto-modulos {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 21px;
}

.lista-conteudo {
    display: flex;
    flex-direction: column;  
    margin: 50px;
    align-items: flex-start;
    font-size: 22px;
}

.modulos img {
    width: 50px;
    height: 50px;
    position: absolute;
    margin-bottom: 40px;
}

.flipper-front p {
    margin-top: 60px;
}

.flip-card-container {
    width: 280px;
    height: 360px;
    perspective: 1000px;

    gap: 25px;
}

.flipper-card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    background-color: #7388E2;
    font-size: 24px;
    margin-top: 25px;
}

.all-cards {
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

    gap: 25px;

	width: 90%;
}

.flip-card-container:hover .flipper-card {
    transform: rotateY(180deg);
}

.flipper-front, .flipper-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flipper-back {
    transform: rotateY(180deg);
}

.border {
    width: 246px;
    height: 316px;
    border: 1px solid; 
    border-color: white;
    position: absolute;
}

.modulos > button {
    width: 170px;
    height: 45px;
    background-color: #578EA4;
    font-family: 'Open sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.modulos button a {
    color: white;
}

a:link {
    text-decoration: none;
}

@media (max-width: 900px) {
	.modulos .all-cards {
		width: 100%;
		margin: 0px 20px;
	}

	.modulos .flip-card-container {
		margin: 20px 0px;
    }
}