.o-que-e {
    height: 100vh;
    display: flex;
    flex-direction: row;
    height: calc(100% - 95px);
    background-color: #EEEE;
    display: flex;
}

.quadrinho-textos {
  display: flex;
  width: 100%;
  background-color: #eeeeee;
  align-items: center;
  justify-content: center;
}

.textos {
  margin-bottom: 150px;
  margin-right: 120px;
  width: 590px;
  font-family: 'Open Sans', sans-serif;
  align-items: left;
}

.textos > h1 {
  margin-top: 15px;
  color: #30063f;
  font-size: 3rem;
}

.textos > h2 {
  font-weight: lighter;
  margin-top: 5px;
  color: #935757;
  font-size: 1.8rem;
}
.textos > p {
  margin-top: 15px;
  font-size: 1.4rem;
}

.textos > a {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 66px;
  font-size: 1.8rem;
  color: #08063f;
  text-decoration: none;
  border: 1px solid #000;
  transition: all 0.5s;
}

.textos > a:hover {
  border: 1px solid #ffffff;
  background-color: #839bff;
}

.textos-mobile {
  display: none;
}

.quadradro-robozinho {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #c0c6f3;
}

.robozinho {
  position: absolute;
  right: 0;
  margin-top: 50px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 80%;
  background-color: #dad9ee;
}

.robozinho > img {
  height: 340px;
  width: 390px;
}

@media screen and (max-width: 835px) {
  .quadrinho-textos {
    display: none;
  }
  .textos {
    display: none;
  }

  .textos-mobile {
    height: 100%;
    background-color: #c0c6f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
  }

  .textos-mobile > h1 {
    margin-top: 70%;
    color: #30063f;
  }

  .textos-mobile > p {
    margin: 20px;
    text-align: center;
  }

  .quadradro-robozinho {
    display: none;
  }

  .robozinho {
    left: 18%;
    width: 65%;
    height: 35%;
    justify-content: flex-end;
  }
  .robozinho > img {
    margin-top: 25px;
    height: 90%;
    width: 90%;
  }
}
