.sobre {
    height: calc(100% - 95px);
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textos-sobre {
    transform: skewY(2deg);

    color: white;

    display: flex;
    flex-direction: column;

    margin-left: 5%;
    
    gap: 15px;
}

.textos-sobre > p {
    display: flex;

    font-size: 21px;
    text-align: justify;

    width: 50%;
}

.conteiner-rotate-sobre {
    background-color: #140F56;

    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;

    position: absolute;
    
    transform: skewY(-2deg);
}
.mapa > p {
    color: white;
    margin-top: 580px;
    width: 400px;
  }
  
} */

.mapa {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.mapa iframe {
	position: absolute;
	top: 20%;
	right: 75px;
	width: 35%;
	height: 350px;
}

@media (max-width: 720px) {
    .textos-sobre > h1 {
        font-size: 1.5rem;
    }

    .textos-sobre > p {
        display: flex;

        font-size: 16.5px;
    }

    .textos-sobre p, h1 {
        margin-left: 20%;
    }

    .mapa iframe {
        display: none;
    }
}

@media (max-width: 500px) {
    .textos-sobre p, h1 {
        font-size: 14.5px;
    }
}


